/* ===================== FOOTER ===================== */
footer{
  margin-top: 28px;
  background: #efefef; /*var(--primary-dark)*/
  padding: 26px 0;
  border-radius: 16px;
  margin: 10px;
}

.footer-wrap{
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 30px;
  align-items: start;
}

.footer-logo{
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1px;
  color: #111;
}

.footer-cols{
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  gap: 22px;
}

.footer-col h4{
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 900;
  color: #333;
}

.footer-col a{
  display:block;
  text-decoration:none;
  color:#444;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  opacity: .95;
}

.footer-col a:hover{ text-decoration: underline; }

.footer-sep{
  border-top: 2px solid #ddd;
  margin: 16px auto 10px;
  max-width: 980px;
}

.footer-bottom{
  max-width: 980px;
  margin: 10px auto 0;
  padding: 0 16px;
  display:flex;
  justify-content: space-between;
  font-size: 10px;
  color:#666;
  font-weight: 700;
}