/* ======================
    GRID ENTREPRISES
====================== */
.entreprise-section{
  width: min(1200px, 92%);
  margin: 14px auto 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 18px;
}


.entreprise-card{
  background: var(--card);
  border: 1px solid rgba(0,0,0,.06);
  border-radius: var(--radius);
  padding: 16px; /*Mettre a 16px si on veut pas coller l'image au bord de la card*/
  box-shadow: var(--shadow-soft);

  display: flex;
  flex-direction: column;
  gap: 12px;

  transition: transform .14s ease, box-shadow .14s ease;
}

.entreprise-card:hover{
  transform: translateY(-3px);
  box-shadow: var(--shadow);
}

.entreprise-logo{
    width: auto;
    height: 90px;
    border-radius: 18px;
    background: #6b6b6b;
    display: grid;
    place-items: center;
    color: #fff;
}

.entreprise-card h3{
    margin: 0;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

.avis{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.avis i{
    font-size: 20px;
    color: yellow;
}

.contact-info{
    gap: 6px;
    font-size: 14px;
    font-weight: 700;
}

.btn-voir{
  margin-top: auto;
  background: var(--primary); 
  color: var(--textnav);
  text-decoration: none;
  text-align: center;
  border-radius: 14px;
  padding: 11px 12px;
  cursor: pointer;
  font-weight: 900;
  transition: filter .14s ease, transform .14s ease;
}


/* Responsive */
/*
@media (max-width: 950px){
  .entreprise-section{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .entreprise-hero{
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 600px){
  .entreprise-section{
    grid-template-columns: 1fr;
  }
}*/
