{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/pages/entreprise.css">
{% endblock %}

{% block content %}
    <main>
        <section class="entreprise-section">
            <article class="entreprise-card">
                <div class="entreprise-logo"></div>
                    <h3>Entreprise 1</h3>
                    <div class="avis">
                        <!-- Afficher les étoiles d'une entreprise -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <!-- Afficher le numéro de téléphone  ainsi que le mail -->
                    <div class="contact-info">
                        <p><i class="fa-solid fa-phone"></i> 01 23 45 67 89</p>
                        <p><i class="fa-solid fa-envelope"></i> contact@entreprise1.fr</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien eget nunc efficitur.</p>
                    <p>6 élèves ont déjà postulé</p>
                    <!-- Changer la page une fois qu'elle sera faite -->
                    <a href="offres.html" class="btn-voir">Découvrir</a>
            </article>

            <article class="entreprise-card">
                <div class="entreprise-logo"></div>
                    <h3>Entreprise 2</h3>
                    <div class="avis">
                        <!-- Afficher les étoiles d'une entreprise -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <!-- Afficher le numéro de téléphone  ainsi que le mail -->
                    <div class="contact-info">
                        <p><i class="fa-solid fa-phone"></i> 01 23 45 67 89</p>
                        <p><i class="fa-solid fa-envelope"></i> contact@entreprise2.fr</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien eget nunc efficitur.</p>
                    <!-- Changer la page une fois qu'elle sera faite -->
                    <a href="offres.html" class="btn-voir">Découvrir</a>
            </article>

            <article class="entreprise-card">
                <div class="entreprise-logo"></div>
                    <h3>Entreprise 3</h3>
                    <div class="avis">
                        <!-- Afficher les étoiles d'une entreprise -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <!-- Afficher le numéro de téléphone  ainsi que le mail -->
                    <div class="contact-info">
                        <p><i class="fa-solid fa-phone"></i> 01 23 45 67 89</p>
                        <p><i class="fa-solid fa-envelope"></i> contact@entreprise3.fr</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien eget nunc efficitur.</p>
                    <!-- Changer la page une fois qu'elle sera faite -->
                    <a href="offres.html" class="btn-voir">Découvrir</a>
            </article>

            <article class="entreprise-card">
                <div class="entreprise-logo"></div>
                    <h3>Entreprise 4</h3>
                    <div class="avis">
                        <!-- Afficher les étoiles d'une entreprise -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <!-- Afficher le numéro de téléphone  ainsi que le mail -->
                    <div class="contact-info">
                        <p><i class="fa-solid fa-phone"></i> 01 23 45 67 89</p>
                        <p><i class="fa-solid fa-envelope"></i> contact@entreprise4.fr</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien eget nunc efficitur.</p>
                    <!-- Changer la page une fois qu'elle sera faite -->
                    <a href="offres.html" class="btn-voir">Découvrir</a>
            </article>

            <article class="entreprise-card">
                <div class="entreprise-logo"></div>
                    <h3>Entreprise 5</h3>
                    <div class="avis">
                        <!-- Afficher les étoiles d'une entreprise -->
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <!-- Afficher le numéro de téléphone  ainsi que le mail -->
                    <div class="contact-info">
                        <p><i class="fa-solid fa-phone"></i> 01 23 45 67 89</p>
                        <p><i class="fa-solid fa-envelope"></i> contact@entreprise5.fr</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien eget nunc efficitur.</p>
                    <!-- Changer la page une fois qu'elle sera faite -->
                    <a href="offres.html" class="btn-voir">Découvrir</a>
            </article>

        </section>

    </main>
{% endblock %}